use flake "github:datsfilipe/nix-envs?dir=tools#rust"
use flake "github:datsfilipe/nix-envs?dir=rust"
export API_ADDR="127.0.0.1:3001"
export LISTEN_ADDR="127.0.0.1:3000"
export DATABASE_PATH="/tmp/ledger"
