use flake "github:datsfilipe/nix-envs?dir=tools#rust"
use flake "github:datsfilipe/nix-envs?dir=tools#nix"
use flake "github:datsfilipe/nix-envs?dir=rust"
use flake

PATH_add run-node1
PATH_add run-node2
PATH_add run-node3
